# Ignore GitHub & VSCode files
.github/
.vscode/

# Ignore Codecraft files
*.projecttree
*.session

# SAS/C specific ignores
#*.debug
#*.release

# Ignore release archives
releases/
*.lha

# Ignore build artifacts
*.o
*.lnk
*.lst
*.map
*.tmp

# Ignore executable files
Uptime

# Ignore test results
*results*
